// _layout.scss

.container {
    background-color: $color-white;
    width: 100%;
    max-width: 650px;
    border-radius: 25px;
    padding: 45px;
    box-shadow: $shadow-strong;
    text-align: center;
    
    // Ukryte na start
    opacity: 0;

    @media (max-width: 550px) {
        padding: 25px;
    }
}