// _map.scss

.map-wrapper {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.01);
    }
}

#map {
    height: 350px;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
    border: 2px solid #eee;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    @media (max-width: 550px) {
        height: 280px;
    }
}