name: Deploy Dist to GitHub Pages

on:
  push:
    branches:
      - main # lub inna gałąź

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # W tym przypadku nie robimy builda, bo dist jest gotowy
      - name: Deploy dist to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          folder: dist
